.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 100%;
  box-sizing: border-box;
  flex: 1;
  overflow: visible;
  position: relative;
}
